<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>A R T I S T S</h1>
    <form action="/searchBar" method="get">
     <div class="search">
        <!-- <input  type="search" placeholder="search..." name="search" size=60px > -->
        <input required list="artist" name="search" size="60px" >
        <datalist id="artist">
            {{range .Artists}}
          <option value="{{.Name}}">
            {{range .Members}}
            <option value="{{.}}">
                {{end}}
                <option value="{{.CreationDate}}">
                    <option value="{{.FirstAlbum}}">
        {{end}}

        {{range .Locations}}
        <option value="{{.}}">
            {{end}}
        
        </datalist>
       
        <button type="submit" > Submit </button>
    </form>

     </div>
     <br>
     <br>
   
    <div class="artist-container">
        {{range .Artists}}
            <div class="artist-card">
                <a href="/Artist/{{.ID}}">
                    <img src="{{.Image}}" alt="{{.Name}}" >
                </a>
                <p ><strong>{{.Name}}</strong></p>
                <ul>
                    <li>{{range .Members}}{{.}}, {{end}} </li>
                    <li>{{.CreationDate}}</li>
                    <li>{{.FirstAlbum}}</li>
                </ul>
            </div>
        {{end}}
    </div>
</body>
</html>